/* Text alignments*/
h1 {
	text-align: left;
	color: red;
}

h2 {
	text-align: left;
	color: green;
        }
		
h3 {
	text-align: left;
	color: darkcyan;
}

h4 {
	text-align: left;
	color: cyan;
}

/* Light mode */
body {
	background-color: white;
	color: black;
}

/* Dark mode */
.darkmode {
	background-color: black;
	color: white;
}

/* Digital clock */
.clock {
	font-size: 40px;
    font-family: Orbitron;
    letter-spacing: 3px;
}
